html{
	width : 100%;
	height : 100%;
}

.img-responsive {
	display: inline-block;
}

body{
	width : 100%;
	height : 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
}

ol, ul{margin: 0}
ul{padding: 0;}
ul li{ list-style: none;}

a, a:hover{
	text-decoration: none;
}

header {
	width: 100%;
	height: 76px;
	font-weight: 300;
	line-height: 76px;
	margin-bottom: 190px;
	letter-spacing: 2px;
	background-image: url("../images/bg.png");
	background-repeat: repeat;
}

h1 {
	font-size: 14px;
	font-weight: 600;
}

header a {
	color: #b6b6b6;
}

header a:hover {
	color: #37cdf7;
}

.menu li {
	padding: 0 20px;
}

#logo {
	padding-left: 0;
}

header .contact {
	line-height: 18px;
	margin-top: 18px;
	letter-spacing: 0;

}

.contact a {
	font-weight: 300;
	font-size: 10px;
}

.contact {
	background-color: #fff;
	border-radius: 30px;
}

h2 {
	font-weight: 900;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.hideme
{
    opacity:0;
}

.presentation-index {
	margin-bottom: 100px;
}


.button-contact-me a {
	font-size: 11px;
	font-weight: 500;
	color: #fff;
}

.button-contact-me {
	background-color: #37cdf7;
	border-radius: 30px;
	border: 0;
	padding: 3px 30px 4px;
	letter-spacing: 2px;
}

.presentation-index .button-contact-me {
	margin-top: 20px;
}

.button-contact-me:hover {
	background-color: #7ce2ff;
}

.presentation-index p {
	font-weight: 300;
	letter-spacing: 0;
	font-size: 22px;
	line-height: 8px;
}

.presentation-index em {
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: uppercase;
}


footer {
	margin-top: 85px;
	font-size: 10px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #b6b6b6;
	margin-bottom: 10px;
}

footer em {
	font-style: normal;
	font-weight: 700;
}

footer img {
	margin-left: 25px;
}

footer a {
	opacity: 0.6;
}


footer a:hover {
	opacity: 1;
}

.hideme a {
	color: #000;
}


/*           ABOUT          */

.photo-moi {
	width: 100%;
	margin-bottom: 60px;
}

.page-about header {
	margin-bottom: 50px;
}

.page-about h2 {
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 25px;
	margin-top: 100px;
}

.competences {
	background-color: #f8f8f8;
	height: 290px;
	padding: 57px 0 ;
}

.page-about .button-contact-me {
	margin-left: 0;
	margin-top: 30px;
}

.page-about .button-CV-me {
	margin-top: 10px;
}

.competences h2 {
	color: #878787;
	margin-bottom: 10px;
	margin-top: 10px;
}

.competences p {
	color: #878787;
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 30px;
}

.page-about p a {
	color: #000;
	font-weight: 500;
	color: #9f9f9f;
}

.page-about p a:hover {
	color: #37cdf7;
}

.em-about em {
	font-style: normal;
	font-weight: 600;
}

.button-contact-me-blue {
	background-color: #f6de16;
}

.button-contact-me-blue:hover {
	background-color: #ffed55;
}

/*           CONTACT           */

.input-group-addon {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-right: none;
}

.form-control {
	box-shadow: none;
	border: 1px solid #dfdfdf;	
}

.form-control:not(:hover):not(:focus) {
	border-left: none;
}

.form-control:focus {
	outline: 1px;
}

.form-contact {
	margin-bottom: 10px;
}

.form-message .form-control {
	border-radius: 4px !important;
	margin-top: 30px;
	max-width: 100%;
}

.page-contact header {
	margin-bottom: 100px;
}


.page-contact h2 {
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 40px;
}

.looking-for {
	margin-bottom: 70px;
}

.page-contact .button-contact-me {
	margin-left: 0;
	margin-top: 30px;
}

.contact-reseau li {
	padding: 0 15px;
	opacity: 0.6;
	margin-bottom: 30px;
}

.contact-reseau li:hover {
	opacity: 1;
}

.contact-reseau-title {
	color: #878787;
	font-weight: 300;
	font-style: normal;
}

.form-message .input-group {
	width: 100%;
}



/*                       VP             */


.page-projets header {
	margin-bottom: 100px;
}

.page-projets h2 {
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 70px;
}

.projets-individuel em {
	color: #37cdf7;
	font-size: 12px;
}

.margin-top-50 {
	margin-top: 50px;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 12px;
}

.margin-top-30 {
	margin-top: 30px;
}
